/* Colors & Variables */
:root {
    /* PRIMARY COLORS */
    --pink: #FEF2F0;
    --salmon: #F9BAB1;
    --green-l: #81B8A8;
    --green-d: #326E62;
    /* SECONDARY COLORS */
    --blue-l: #8FA9BB;
    --blue-d: #7492A7;
    /* NEUTRAL COLORS */
    --gray: #D2D2D2;
    --black: #242424;
}

/* UNIVERSAL STYLING */
* { box-sizing: border-box;}

.App {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--black);
}

/* FOOTER/NAV STYLING */
.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    box-shadow: 0 -2px 5px var(--gray);
}

/* LOGIN/SIGNUP STYLING */

/* TASKS PAGE STYLING */

/* MYPLANTS GALLERY STYLING */

/* MYPLANTS DETAILS STYLING */
