/* Colors & Variables */
:root {
    /* PRIMARY COLORS */
    --pink: #FEF2F0;
    --salmon: #F9BAB1;
    --green-l: #81B8A8;
    --green-d: #326E62;
    /* SECONDARY COLORS */
    --blue-l: #8FA9BB;
    --blue-d: #7492A7;
    /* NEUTRAL COLORS */
    --gray: #D2D2D2;
    --black: #242424;
}

/* UNIVERSAL STYLING */
* { box-sizing: border-box;}

.App {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--black);
    padding: 0.75em;
}
h2, h4 {
    text-align: left;
    margin: 0 0 0.5em 0;
}

h4 {
    font-size: 0.75rem;
}

form input {
    border-radius: 1.5em;
    margin-top: 10px;
    padding: 10px;
}

form label {
    margin-left: 15px;
}

/* FOOTER/NAV STYLING */
.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    box-shadow: 0 -2px 5px var(--gray);
}

.footer a {
    color: var(--green-d);
}

.footer a:active {
    color: var(--salmon);
}



/* ONBOARDING/LOGIN/SIGNUP STYLING */
.onboarding-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.onboarding-button, .login-button, .signup-button {
    margin-top: 15px;
    width: 200px;
    border-radius: 1em;
    padding: 5px;
}

.fa-arrow-circle-left:before {
    margin-right: 30px;
}
.signup-header {
    display: flex;
    align-items: center; 
}

.signup-header>i {
    margin-right: 20px;
}

.signup-block {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.signup-block form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-header {
    display: flex;
    align-items: center;
}

.login-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-image {
    height: 30vh;
}

.login-block {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.login-block form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* TASKS PAGE STYLING */

.task-container {
    margin: 0.5em 0;
}

.task-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--green-l);
    border-radius: 16px;
}

.task-bar img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 24px;
    margin: 0.5em;
}

.plant-info {
    display: flex;
    align-items: center;
}

.task-info h4, .task-info h3 {
    margin: 0;
    text-align: left;
}

.task-action {
    background-color: var(--blue-d);
    border-radius: 90px;
    font-size: 1.2em;
    color: white;
    padding: 1em 1.15em;
    margin: 0.5em;
}

/* MYPLANTS GALLERY STYLING */
.my-plant-header {
    display: flex;
    justify-content: space-between;
}
.my-plant-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-plant-icons a {
    color: white;
    background-color: var(--green-d);
    border-radius: 90px;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 0.75em;
}

.my-plant-icons a:active {
    background-color: var(--salmon);
}

.plant-container img {
    max-width: 100%;
}

/* MYPLANTS DETAILS STYLING */


/* FORM STYLING */
.form-header {
    display: flex;
}

.form-title, .form-sub-title  {
    align-self: center;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.form-question {
    margin-bottom: 0;
    margin-left: 15px;
    text-align: left;
    font-size: 0.9em;
}

#sun {
    margin-top: 10px;
    width: 50vw;
    align-self: center;
}